{
    "env": {
        "node": true
    },
    "extends": [
        "airbnb-base"
    ],
    "parser": "babel-eslint",           // workaround for default parser working incorrectly
    "parserOptions": {                  // specify javascript language options (ex: modules)
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "rules": {
        "no-undef": "off",
        "eqeqeq": "off",
        "import/extensions": "off",
        "no-restricted-globals": "off",
        "no-plusplus": "off",
        "max-len": "off",
        "no-use-before-define": "off",
        "no-prototype-builtins": "off",
        "no-unused-expressions": "off",
        "no-shadow": "off",
        "no-restricted-syntax": "off",
        "no-unused-vars": "off"
    }
}
